/*Color Scheme
 Learn.nynjaetc.org
 */

@learnblue: #0079c4;

.pull-left {
  float: left;
}


/*Body Set*/

body, html {
  height: 100%;
}

#outer-container {
  min-height: 100%;
  margin-bottom: -70px;
  position: relative;
}

/*Base Typography*/

#content {
  a   {
   color: @learnblue;
  }
}


/*Top Navigation*/
#header {
  .subbrand {
    font-size: 20px;
    color: #555;
    font-weight: 200;
    font-family: 'Asap', 'Arial';
    margin: 27px 0 0 0;

    @media (max-width: 979px) and (min-width: 768px) {
      font-size: 14px;
      margin: 17px 0 0 0;
    }
    
    @media (max-width: 767px) {
      margin: 0;
    }
    
  }
}


#nav {
   .btn {
     margin: 3px 0 0 7px;
     
     @media (max-width: 979px) and (min-width: 768px) {
       margin: -8px 0 0 7px;
     }
     
     @media (max-width: 767px) {
       margin: -15px 7px 10px 0;       
       .pull-left
     }
     
    }
}


/*Masthead*/

#logo {
  margin: 10px 0;
  width: 250px;
}

/*Custom Breadcrumbs*/
ul#breadcrumbs {
  margin: -10px 0 0 4px;  
  
   li {
   list-style-type: none;
   display: inline;
   font-size: 12px;
   
   a {
     color: #ccc;
     text-decoration: none;
     
      &:hover {
        color: #333;
      }
   }
   
   .divider {
     margin: 0 5px;
     color: #ccc;
   }  
  }

}




/*Main Menu*/

.navbar-inner {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/*Sidebar*/
#sidebar {
    margin: 10px 0 0 0;
   
  ul {
    margin: 0;
    list-style-type: none;
    
    &>li {
      line-height: 20px;
      padding: 5px 0;
        
        &.menu-3>b
        {
          font-weight: bold;
          
        }
        
        a {
          color: @learnblue;
            &:hover {
              text-decoration: underline;
            }
        }
      
        &.menu-4 {
          margin-left: 7px;
        } 
      
        &>ul>li:last-child{
          border-bottom: none;
        }
      
    }
   
   &>li:last-child {
     border-bottom: none;
   }
   
  }
  
  b {
    font-weight: normal;
    color: @learnblue;
  }
  
}

/*Content*/

.pagetitle {
  font-family: 'Asap', 'HelveticaNeue', 'Arial', sans-serif;
  margin: 0 0 20px 0;
  color: #444;
  border-bottom: solid 1px #ccc;
}


/*RGT Patient Case*/
.module-patient-case-rgt
{
  .row-fluid .span9 {
    width: 100%;
  }
  
  #history {
    background: top no-repeat url('/site_media/img/clipboard.png');
    background-size: 100% 100%;
    width: 409px;
    height: 536px;
  }
  
  .tabscontent {
    margin: 91px 0 0 10px;    
    width: 378px;
    height: 405px;
        
    h2 {
      margin: 0;
      font-size: 14px;
    }
  }
  
  
  #tabpage_1 {
  background: top no-repeat url('/site_media/img/tab1.png');
  background-size: 100% 100%;
  width: 345px;
  height: 394px;
  float: left;
  font-size: 13px;
  padding: 10px 0 0 33px;
  box-shadow: 1px #ccc;
   }
     
   #tabpage_2 {
  background: top no-repeat url('/site_media/img/tab2.png');
  background-size: 100% 100%;
  width: 345px;
  height: 394px;
  float: left;
  font-size: 13px;
  padding: 10px 0 0 33px;
  box-shadow: 1px #ccc;
   }
   
    ul li {
         list-style-type: none;
         margin: 0 0 0 -25px;
       }
       
  .tabs {
     
     ul li {
       display: inline;
       margin: 0 40px 0 -25px;
     }
  }
  

}
  



/*Footer*/

#clearfooter {
  height: 70px;
  clear:both;
}

#footer {
  height: 70px;
  position: relative;
}





/*
.one_per_answer_explanation {
    display: none;
}
*/
div.one_per_answer_explanation {
    display:none;
}

.one_per_answer_explanation .the_answer{
    font-weight: bold;
}

.one_per_answer_explanation .the_explanation{
    color: gray;
}

/*RGT Activity*/

body.module-patient-case-rgt {
  #sidebar {
    display: none;
  }
  ul#breadcrumbs {
    display: none;
  }
  #right-content {
    margin: 0;    
  }
}
