/*Color Scheme
 Learn.nynjaetc.org
 */

@learnblue: #34c6c6;
@learnlightblue: @learnblue + #333;
@learndarkblue: @learnblue + #000;

/*Body Set*/

@media (min-width: 979px) {
  body {
    padding-top: 40px;
   }
}

/*Base Typography*/

#content {
  a   {
      &:link, &:visited, &:active {
      color: @learndarkblue;
    }
  }
}


/*Top Navigation*/

.navbar {
  margin: 0 0 7px 0;
}

.navbar-fixed-top .navbar-inner {
  .btn {
    margin: 7px 5px 0 0;
  }
  
  ul.nav {
    a {
      color: #222;
      text-shadow: none;
          
      &:hover {
        text-decoration: underline;
      }        
    }
 }
     
     .navbar-text {
       color: #fff;
     }
}

.navbar-text.pull-right {
  padding-right: 20px;
 }

/*Masthead*/

#logo {
  margin: 10px 0;
}

/*Main Menu*/

/*Content*/

ul#breadcrumbs {
  margin: 0;

 li {
  list-style-type: none;
  display: inline;
  color: #ccc;
  font-size: 11px;
  margin: 0 3px 0 0;
  
    &:after {
      content:">";
      margin: 0 0 0 5px;
      font-size: 8px;
    }
    &:last-child:after {
      content: none;
    }
  }
}
/*
.one_per_answer_explanation {
    display: none;
}
*/
div.one_per_answer_explanation {
    display:none;
}

.one_per_answer_explanation .the_answer{
    font-weight: bold;
}

.one_per_answer_explanation .the_explanation{
    color: gray;
}
