/*Color Scheme
 Learn.nynjaetc.org
 */

@learnblue: #34c6c6;
@learnlightblue: @learnblue + #333;
@learndarkblue: @learnblue + #000;

/*Body Set*/

@media (min-width: 979px) {

}

/*Base Typography*/

#content {
  a   {
   color: @learndarkblue;
  }
}


/*Top Navigation*/
#header {
  .subbrand {
    font-size: 20px;
    color: #555;
    font-weight: 200;
    font-family: 'Asap', 'Arial';
    margin: 33px 0 0 0 !important;
  }
}


#nav {
   .btn {
     margin: 14px 0 0 7px;
     
     @media (max-width: 767px) {
      float: left; 
     }
   }
}


/*Masthead*/

#logo {
  margin: 10px 0;
  width: 250px;
}

/*Main Menu*/

/*Sidebar*/
#sidebar {
  font-size: 12px;
    
  ul {
    margin: 0;
    list-style-type: none;
    
    &>li {
      line-height: 20px;
      margin: 5px 0;
      padding: 5px 0;
      border-bottom: solid 1px #c1c1c1;
        
        a {
          color: #777;
          font-weight: bold;
            &:hover {
              text-decoration: none;
              color: @learndarkblue;
            }
        }
      
        &.menu-4 {
          margin-left: 7px;
        } 
      
        &>ul>li:last-child{
          border-bottom: none;
        }
      
    }
   
   &>li:last-child {
     border-bottom: none;
   }
   
  }
  
}

/*Content*/

.pagetitle {
  font-family: 'Asap', 'HelveticaNeue', 'Arial', sans-serif;
  margin: 7px 0 25px 0;
  color: #444;
}


/*
.one_per_answer_explanation {
    display: none;
}
*/
div.one_per_answer_explanation {
    display:none;
}

.one_per_answer_explanation .the_answer{
    font-weight: bold;
}

.one_per_answer_explanation .the_explanation{
    color: gray;
}
