{% load compress %}
<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<title>learn.nynjaetc: {% block title %}{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="nynjaetc">
  <meta name="author" content="CCNMTL">

{% compress css %}
    <link href="/site_media/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
{% endcompress %}
    <link href="/site_media/bootstrap/css/bootstrap-responsive.css" rel="stylesheet" type="text/css"> 
    <link href='http://fonts.googleapis.com/css?family=Asap:400,700' rel='stylesheet' type='text/css'>
{% compress css %}
    <link href="/site_media/css/main.less" rel="stylesheet" type="text/less">
{% endcompress %}

	<link rel="shortcut icon" href="/site_media/img/favicon.ico" type="image/x-icon" />
	{% block css %}{% endblock %}
	
  <script src="/site_media/js/jquery-1.7.2.min.js"></script>
  <script src="/site_media/js/nynjaetc.js"></script>

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	{% block feeds %}{% endblock %}
</head>


<body class="module-{%block module_slug%}{%endblock module_slug %}">
 <div class="container-fluid" id="login">
 <div class="row-fluid">
    <div class="span12" id="nav">
      {% block topnavbar %}
      <ul class="nav">
      {% block topnavbarleftitems %}      
      <li><a href="/about/"    {% block aboutlinknav %}{% endblock %} >About</a></li>
      <li><a href="/contact/"  {% block contactlinknav %}{% endblock %} >Contact</a></li>
      <li><a href="/help/"     {% block helplinknav %}{% endblock %} >Help</a></li>        
        {% endblock %}
      </ul>
      {% block topnavbarrightitems %}{% endblock %}
      {% block usernav %}
      {% if request.user.is_anonymous %}
      
      {% block log_in_and_register_buttons %}
       <a href="/accounts/register/" class="btn pull-right">Register</a>
       <a href="/accounts/login/?next=/" class="btn pull-right">Log In</a>
       
      {% endblock log_in_and_register_buttons %}   
       
      {% else %}
       <!-- <a href="/accounts/password_change/" class="btn pull-right">Change Password</a> -->
       <a href="/password_change/" class="btn pull-right">Change Password</a>
       <a href="/accounts/logout/" class="btn pull-right">Log Out</a>
       
        {% if can_download_stats %}
            <a href="/analytics/csv/" class="btn btn-inverse pull-right">stats</a>
        {%endif %}
        <p class="navbar-text pull-right">
          Logged in as
          <strong>{% if  request.user.first_name or  request.user.first_name %}
              {{request.user.first_name}}
              {{request.user.last_name}}
          {%else %}
            {{request.user}}
          {%endif %}
    </strong>
        </p>
      {% endif %}
      {% endblock %}
{% endblock %}
    </div>
    </div>  
</div>
<div id="wrap">
<div class="container" id="outer-container">
  <div class="container">
   
  <div class="row-fluid" id="header">
    <div class="span3">
          <a href="/intro/"><img src="/site_media/img/workinglogo.png" id="logo" /></a>
    </div>
    <div class="span9 subbrand">      
      Hepatitis C Medications and Special Considerations for People Living with HIV
    </div>
  </div>
  </div>
{% block masthead %}
{% block primarynav %}
<div class="container" id="nav">
<div class="navbar" id="primarynav">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
        
      <div class="nav-collapse collapse">
        <ul class="nav mainnav">   
        {% block primarynavtabs %}
        {% for section in module_info %}
          <li{% ifequal section.id module.id %} class="active"{% endifequal %}><a href="{{section.url}}">{{section.label}}</a></li>
        {% endfor %}
        {% endblock %}
				{% block primarynavtabsextra %}{% endblock %}
        </ul>
       {% block navrightextra %}{% endblock %}
        </ul>
      </div>          
    </div>
  </div>
</div>
{% endblock %}

{% endblock %}

    <div class="row-fluid" id="breadcrumbs">
        <div class="span12">
            {% block breadcrumbs %}{% endblock %}
        </div>
      </div> <!-- end first row -->
</div>    
    
    
<div class="container main">
          <!-- ok, first row has just the title in it. -->
      <div class="row-fluid">
        <div class="span12">
            {% block pagetitle %}{% endblock %}
        </div>
      </div> <!-- end first row -->
      
      
      
        <!-- ok, second row has the nav and the content in it. (including the back and next buttons. -->
      <div class="row-fluid">
         <div class="span3" id="sidebar">
    {% block sidenav %}{% endblock %}
         </div>
         <div class="span9" id="right-content">
    
    {% block content %}{% endblock %}
         </div>
      </div>
      <div class="row-fluid">
            <!-- pager -->     
        {% block content-nav %}{% endblock %}
      </div>
</div>
</div>
</div>
<div  id="footer">
  <div class="footer-interior">
        {% block footer %}
        <a href="http://nynjaetc.org" target="_blank"><img src="/site_media/img/nynjaetclogo.png" class="printonly pull-left nynjaetc-logo" style="height: 75px; margin: 0 15px 0 0;" /></a>
        <img src="/site_media/img/cornelllogo.png" class="printonly pull-left cornell-logo" style="height:75px" />
        <a href="http://ccnmtl.columbia.edu" target="_blank"><img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly pull-right" style="margin:20px 0 0 0" /></a>
        {% endblock %}
        </div>
</div> <!-- end footer -->
</div>
 

<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>

{% compress js %}
<script src="/site_media/bootstrap/js/bootstrap.js"></script>
{% endcompress %}

{% block js %}{% endblock %}

{% if STAGING_ENV %}
<div class="alert alert-error" style="position: fixed; right: 0px; bottom: 0px;">
<h4>Warning: Staging Site</h4>
<p>You are viewing a staging version of this site, not the production site.</p>
<p>This site was last updated on: <b>{{STAGING_DEPLOY_TIME}}</b></p>
</div>
{% endif %}
{% if request.user.is_impersonate %}
<div class="alert alert-error" style="position: fixed; left: 0px; top: 75px">
You are impersonating. <a href="{% url impersonate-stop %}">stop</a>.
</div>
{% endif %}

</body>
</html>
