{% extends 'main/standard_elements/standard_elements.html' %}

{%block title %}About{%endblock %}


{% block standard_elements_content %}

<h3>About</h3>

<p>CCNMTL and the New York/New Jersey AIDS Education and Training Center created learn.nynjaetc, an online learning effort to educate healthcare professionals about new advances in treating people living with HIV. The online courses are self-paced and contain lectures by experts, patient case studies, and interactive activities. The expected audience is doctors and nurses in the New York and New Jersey region, but the courses are open to anyone who wishes to learn about healthcare for people living with HIV/AIDS.</p>


<strong>New York/New Jersey AIDS Education Training Center</strong>
<ul>
<li>Francine Cournos, Principal Investigator</li>
<li>Daria Boccher-Lattimore, Co-Investigator</li>
<li>Katie Livengood, Project manager</li>
</ul>

<strong>Columbia Center for New Media Teaching and Learning</strong>
<ul>
<li>Frank Moretti, Executive Producer</li>
<li>Maurice Matiz, Executive Producer</li>
<li>Jessica Rowe, Project Manager</li>
<li>Rachelle White, Designer</li>
<li>Eddie Rubeiz, Developer</li>
<li>Susan Dreher, Developer</li>
</ul>
<strong>Module One: Hepatitis C Medications and Special Considerations for People Living with HIV</strong>
<br />
<strong>Created in collaboration with Weill Cornell Medical College</strong>
<ul>
<li>Course Director: Kristen Marks, MD, MS</li>
<li>Course Faculty: Kristen Marks, MD, MS</li>
<li>Course Coordinator: Ashley Miltenberger</li>
</ul>
{%endblock %}
