<div  id="footer">
  <div class="footer-interior">
        {% block footer %}
        <a href="http://nynjaetc.org" target="_blank"><img src="/site_media/img/nynjaetclogo.png" class="printonly pull-left" style="height: 50px; margin: 0 15px 0 0;"/></a>
        <img src="/site_media/img/cornelllogo.png" class="printonly pull-left" style="height:50px" />
        <a href="http://ccnmtl.columbia.edu" target="_blank"><img src="/site_media/img/logo_ccnmtl_sidebar.gif" class="printonly pull-right" /></a>
        {% endblock %}
        </div>
</div> <!-- end footer -->