{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block registration_content %}
    <p>"Thank you for registering for the New York/New Jersey Aids Education Training Center's online learning center. You have activated your account. Please <a href="/accounts/login/?next=/">log in</a> with your user name and password.</p>

<p>The first learning module available to you is Hepatitis C Treatment Self Study Module: Treating HCV with First Wave Protease Inhibitors</p>
{% endblock %}
