{% extends "base.html" %}
{% load i18n %}
{% block module_slug %}registration{% endblock %}
{% block content %}

<div id="welcome" class="span7">
<p><h4>Online Training and Education For Healthcare Professionals Providing Care and Services For People Living With HIV</h4></p>

<p><strong>learn.nynjaetc</strong> is a series of online learning modules and activities created by the <a href="http://nynjaetc.org" target="_blank">NY/NJ AIDS Education and Training Center (NY/NJ AETC)</a> and designed to help healthcare professionals learn more about caring for people living with HIV. The first course available at learn.nynjaetc.org is<strong> Hepatitis C Medications and Special Considerations for People Living with HIV</strong>.</p>
</div>
    <div id ="register" class="span4 offset1">
        {% block registration_content %}
        {% endblock %}
    </div>
{% endblock %}
