{% extends "base.html" %}
{% load i18n %}
{% block module_slug %}registration{% endblock %}
{% block content %}

{% block about_nynja_content %}

<div id="welcome" class="span7">
<p><h4>Online Training and Education For Healthcare Professionals Providing Care and Services For People Living With HIV</h4></p>

<p><strong>learn.nynjaetc</strong> is a series of online learning modules and activities created by the <a href="https://nynjaetc.org" target="_blank">NY/NJ AIDS Education and Training Center (NY/NJ AETC)</a> and designed to help healthcare professionals learn more about caring for people living with HIV. The first course available at learn.nynjaetc.org is<strong> Hepatitis C Medications and Special Considerations for People Living with HIV</strong>.</p>
<br />
 <a href="https://nynjaetc.org" target="_blank"><img src="/site_media/img/nynjaetclogo.png" class="printonly pull-left" style="height: 110px; margin: 0 15px 0 0;" /></a><p>The NY/NJ AETC provides education, training and consultation services to health care professionals in New York and New Jersey to improve access to and quality of HIV/AIDS care.</p>
<br /><p>For more information on clinical training opportunities please contact:<br />
<strong>NY/NJ AETC Central Office<br />
Columbia University<br />
College of Physicians & Surgeons<br />
212-304-5530<br /></strong>

or visit our website <a href="https://nynjaetc.org" target="_blank">www.nynjaetc.org</a>.
</p>
<p>The NY/NJ AETC is supported by grant number H4AHA00071 from the Health Resources and Services Administration (HRSA) AIDS Education and Training Centers Program.</p>
</div>
{% endblock about_nynja_content %}

    <div id ="register" class="span4 offset1">
        {% block registration_content %}
        {% endblock %}
    </div>
{% endblock %}
