{% extends "registration/base_registration.html" %}
{% load i18n %}

{% block registration_content %}
<h2 class="pagetitle">Register</h2>Sign up for an account to use Learn.nynjaetc.org.<br /><br />


<form method="post" action="." class="register">
    <div class="fieldWrapper">
        <label for="id_subject">Please choose a username</label>
        {{ form.username }}
        {{ form.username.errors }}
         <div class="alert alert-info email-notice">(This value may contain only letters, numbers and the characters @.+-_ .)</em></div>
    </div>
    <div class="fieldWrapper">
        <label for="id_subject">Please give us a current email address:</label>
        {{ form.email }}
        {{ form.email.errors }}
        <div class="alert alert-info email-notice">Your email address will be used to confirm your account. We may also send a follow-up survey to this address to ask about your experience with our online learning content. We will never sell your email address or use it for any other reason.</div>
    </div>

    <div class="fieldWrapper email-info">
        <label for="id_subject">Please choose a password:</label>
        {{ form.password1 }}
        {{ form.password1.errors }}
        <label for="id_subject">Please retype your password:</label>
        {{ form.password2}}
        {{ form.password2.errors }}
    </div>
    {{ form.non_field_errors }}
  <input class="btn btn-primary" type="submit" value="{% trans 'Submit' %}" />
</form>

<p>
    If you already have a username or password, but have forgotten either,
    <a href="{% url auth_password_reset %}">reset them here</a>.
</p>
{% endblock %}


