.treatment-activity-container {
}

.treatment-activity-view {
}

div.patient-factors {
    margin: 20px 0;
}

input.reset-state {
    margin: 0 0 20px 0;
}

div.treatment-steps {
}

div.treatment-step {
    clear: both;
}

div.timeline {
    float: left;
    width: 100px;
    padding-right: 5px;
    text-align: center;
    margin-bottom: 10px;
}

div.medication {
    float: left;
    outline: 1px solid #eee;
    margin-top: 10px;
    padding: 10px 25px;
    width: 300px;
    text-align: center;
}

div.medication p {
    display: inline;
}
    

div.duration {
    background-color: gray;
    width: 20px;
    margin-left: 40px;
    margin-right: 40px;
}

div.height-0 {
    height: 20px;
    background-color: white;
}

div.height-4 {
    height: 80px;
}

div.height-8 {
    height: 160px;
}

div.height-12 {
    height: 240px;
}

div.height-24 {
    height: 480px;
}

div.treatment-step.minimized div.duration,
div.treament-step.minimized div.medication {
    height: 20px !important;
}

div.treatment-step.minimized div.duration.PR {
    height: 1px !important;
}

.duration.DP, .duration.PR {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-bottom-color: gray;
    position: relative;
    background-color: white;
    margin-top: 10px;
}

.duration.DP:after, .duration.PR:after {
    content: '';
    position: absolute;
    left: -10px;
    top: 10px;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: gray;
}

.duration.ST {
    width: 25px;
    height: 25px;
    background: gray;
    position: relative;
}

.duration.ST:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-bottom: 7px solid gray;
    border-left: 7px solid white;
    border-right: 7px solid white;
    width: 11px;
    height: 0;
}

.duration.ST:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-top: 7px solid gray;
    border-left: 7px solid white;
    border-right: 7px solid white;
    width: 11px;
    height: 0;
}
            