{% load markup %}
{% load getresponse %}
{{ block.description|markdown }}

{% if request.user.is_anonymous %}
  <p class="warning">You must be logged in to view this content</p>
{% else %}

    {% for question in block.question_set.all %}
      {% include 'quizblock/question.html' %}
    {% endfor %}

    {% if block.rhetorical %}
      <script src="/site_media/js/quiz/quizshow.js" type="text/javascript" language="javascript"></script>
      <script src="/site_media/js/quiz/answer_feedback.js" type="text/javascript" language="javascript"></script>
    {%else %}
    
      <script src="/site_media/js/quiz/validation.js" type="text/javascript" language="javascript"></script>
      
      <div id="quiz_general_feedback" class="quiz_feedbackbox alert alert-error" >
      </div>
    {% endif %}	
    
    
{% endif %}
