{% load markup %}



{% if block.rhetorical %}

            {%comment %}
                {% if question.correct_answer_letter %}
                      <i>Correct.</i>
                {% endif %} 
            {%endcomment %}
            {{question.explanation|markdown}}
            {% for answer in question.answer_set.all %}
                    <div class = "one_per_answer_explanation {{answer.id}}">
                    
                            {%comment %}
                                {% if answer.correct %}
                                      <i>Correct.</i>
                                {% endif %}       
                            {%endcomment %}
                            {% if answer.explanation %}
                                   <p class ="the_answer {% if answer.correct %}highlight_correct{% endif %}">{{answer }}</p>
                                   <p class ="the_explanation {% if answer.correct %}highlight_correct{% endif %}">{{answer.explanation|safe}}</p>
                            {%endif %}
                    </div>
            {%endfor %}
      
      
{% else %}
<p>{{question.explanation|markdown}}</p>
{% endif %}
