{% load markup %}



{% if block.rhetorical %}
      <!--
      <div class="casesanswerdisplay">
        {%comment %}
        <a href="#q{{question.id}}" class="moretoggle">Show answer &gt;&gt;</a>
        {%endcomment %}
        <div id="q{{question.id}}" class="toggleable">
          <p class="the_correct_answer_is">
            {% if question.correct_answer_letter %}
              <i>The correct answer is {{question.correct_answer_letter}}.</i>
            {{response}}
            {% endif %} 
            {{question.explanation|markdown}}
            
            {% for answer in question.answer_set.all %}
                {% if answer.explanation %}
                    <div class = "one_per_answer_explanation {{answer.id}}">
                       <p class ="the_answer">{{answer }}</p>
                       <p class ="the_explanation">{{answer.explanation }}</p>
                    </div>
                {%endif %}
            {%endfor %}
          </p>
        </div>
      </div>
       -->
            {%comment %}
                {% if question.correct_answer_letter %}
                      <i>Correct.</i>
                {% endif %} 
            {%endcomment %}
            {{question.explanation|markdown}}
            {% for answer in question.answer_set.all %}
                    <div class = "one_per_answer_explanation {{answer.id}}">
                    
                            {%comment %}
                                {% if answer.correct %}
                                      <i>Correct.</i>
                                {% endif %}       
                            {%endcomment %}
                            {% if answer.explanation %}
                                   <p class ="the_answer">{{answer }}</p>
                                   <p class ="the_explanation">{{answer.explanation }}</p>
                            {%endif %}
                    </div>
            {%endfor %}
      
      
{% else %}
<p>{{question.explanation|markdown}}</p>
{% endif %}
