{% extends "base.html" %}
{% load compress %}
{% load bootstrap %}
{% load render %}
{% block title %}Stats{% endblock %}
{% block js %}
{%endblock %}

{%block css %}
<style>
    #sidebar  {
        display:none;
    }
    #right-content {
        width : 10000px;
    }
</style>
{%endblock %}


{% block content %}
    <h1>Analytics</h1>
    <table class="table table-bordered">
        <tr>
            <th>
                user ID
            </th>
            <th>
                username
            </th>
            <th>
                encrypted email
            </th>
            <th>
                plaintext email (there should be none of these)
            </th>
            <th>
                date joined
            </th>
            <th>
                last login
            </th>
            <th>
                is staff -- can see this page
            </th>
            <th>
                hrsa id
            </th>
            {%for section in all_sections %}
                <th>
                    {{section.id}}: {{section}}
                </th>
            {%endfor%}
            {%for question in all_questions %}
                <th>
                    {{question.id}}: {{question|truncatechars:64 }}
                </th>
            {%endfor%}
            
        </tr>
    
        {% for line in the_table %}
        <tr class = "" >
            <td>
                {{line.the_user.id}}
            </td>
            <td>
                {{line.the_user}}{% if user == line.the_user %}<i class="icon-user"></i>{%endif %}
            </td>
            <td>
                {{line.the_user.get_profile.encrypted_email}}
            </td>
            <td>
                {{line.the_user.email}}
            </td>
            <td>
                {{line.the_user.date_joined}}
            </td>
            <td>
                {{line.the_user.last_login}}
            </td>
            <td>
                {{line.the_user.is_staff}}
            </td>
            <td>
                {{line.the_user.get_profile.hrsa_id}}
            </td>
            {%for timestamp in line.user_sections %}
                <td>
                    {%if timestamp %}
                        {{timestamp}}
                    {%else %}
                        <i class="icon-remove"></i>
                    {%endif %}
                </td>
            {%endfor%}
            {%for answer in line.user_questions %}
                <td>
                    {% if answer %}
                        {{answer}}
                    {%else %}
                        <i class="icon-remove"></i>
                    {%endif %}
                </td>
            {%endfor%}
        </tr>
        {%endfor %}
    </table>
{%endblock%}
