{% extends "base.html" %}
{% load compress %}
{% load bootstrap %}
{% load render %}
{% block title %}Analytics{% endblock %}
{% block js %}
{%endblock %}

{%block css %}
<style>
    #sidebar  {
        display:none;
    }
    #right-content {
        width : 10000px;
    }
</style>
{%endblock %}

Z{% block content %}
    <h1>Analytics</h1>
    <table class="table table-bordered">
        {% for row in the_table %}
        <tr class = "" >
            {% for cell in row %}
                <td>
                    {{cell}}
                </td>
            {%endfor%}
        </tr>
        {%endfor %}
    </table>
{%endblock%}
