<script src="/site_media/js/underscore-min.js" type="text/javascript" ></script>
<script src="/site_media/js/backbone-min.js" type="text/javascript" ></script>

<script src="/_rgt/media/js/treatment_activity.js?version=1" type="text/javascript" ></script>

<script type="text/javascript">
    jQuery(document).ready(function () {
        var view = new TreatmentActivityView({
            el: 'div.treatment-activity-container'
        });
    });
</script>

<script type="text/template" id="patient-factors">
    <h3>Select from the following patient factors</h3>

    <div>
        Does the patient have cirrhosis?
        <input type="radio" name="cirrhosis" value="1" <% if (cirrhosis === "1") { %>checked="checked"<% } %>/>Yes
        <input type="radio" name="cirrhosis" value="0" <% if (cirrhosis === "0") { %>checked="checked"<% } %>/>No
    </div>

    <div>
        Is the patient treatment-naive?
        <input type="radio" name="naive" value="1" <% if (naive === "1") { %>checked="checked"<% } %>/>Yes
        <input type="radio" name="naive" value="0" <% if (naive === "0") { %>checked="checked"<% } %>/>No
    </div>

    <div>
        Choose a drug to use:
        <input type="radio" name="drug" value="boceprevir" <% if (drug === "boceprevir") { %>checked="checked"<% } %>/>Boceprevir
        <input type="radio" name="drug" value="teleprevir" <% if (drug === "teleprevir") { %>checked="checked"<% } %>/>Teleprevir
    </div>

    <input id="select-patient-factors" type="button" class="continue"
        value="Continue" <% if (!complete) { %>disabled="disabled"<% } %> />
</script>

<script type="text/template" id="zero-four-weeks">
    <input id="reset-state" type="button" value="Reset" />
    <div class="timeline-container">
        <div>
            <div>  
                Week 0
            </div>
            <div>
                What's going on here
            </div>
        </div>
    </div>
</script>