<a href="/_rgt/media/pdf/genotype-treatments.pdf" target="_blank" class="btn btn-download-all pull-right">
    Download Images&nbsp;<i class="icon-download"></i>
</a>
<div class="clearfix"></div>
<div class="genotype-activity-container">


    <div id="patient-hcv-genotype" class="factors-choice">
        <p class="step-content">Choose HCV Genotype:</p>
    
        <div class="decision_buttons">
            <button type="button" class="btn btn-small btn-default hcv-genotype" data-path="1a">1a</button>
            <button type="button" class="btn btn-small btn-default hcv-genotype" data-path="1b">1b</button>
            <button type="button" class="btn btn-small btn-default hcv-genotype" data-path="2">2</button>
            <button type="button" class="btn btn-small btn-default hcv-genotype" data-path="3">3</button>
            <button type="button" class="btn btn-small btn-default hcv-genotype" data-path="4">4</button>
            <button type="button" class="btn btn-small btn-default hcv-genotype" data-path="5">5</button>
            <button type="button" class="btn btn-small btn-default hcv-genotype" data-path="6">6</button>
        </div>        
    </div>

    <div id="patient-factor-cirrhosis" class="factors-choice" style="display: none">
        <p class="step-content">Does the patient have cirrhosis?</p>
        <div class="decision_buttons">
            <button type="button" class="btn btn-small btn-default cirrhosis" data-cirrhosis="yes">Yes</button>
            <button type="button" class="btn btn-small btn-default cirrhosis" data-cirrhosis="no">No</button>
        </div>        
    </div>
    
    <br />
    <h4 class='genotype-treatment-label' style="display: none;">
         genotype <span class="genotype-label"></span>: patient <span class="cirrhosis-label"></span>
    </h4>
    <br />
    
    <div class="genotype-treatment-view" data-path="1a" data-cirrhosis="yes" style="display: none">
        <img src="/_rgt/media/img/1ayes.jpg" alt="treatment path 1a w/cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="1a" data-cirrhosis="no" style="display: none">
        <img src="/_rgt/media/img/1ano.jpg" alt="treatment path 1a w/o cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="1b" data-cirrhosis="yes" style="display: none">
        <img src="/_rgt/media/img/1byes.jpg" alt="treatment path 1b w/cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="1b" data-cirrhosis="no" style="display: none">
        <img src="/_rgt/media/img/1bno.jpg" alt="treatment path 1b w/o cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="2" data-cirrhosis="yes" style="display: none">
        <img src="/_rgt/media/img/2yes.jpg" alt="treatment path 2 w/cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="2" data-cirrhosis="no" style="display: none">
        <img src="/_rgt/media/img/2no.jpg" alt="treatment path 2 w/o cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="3" data-cirrhosis="yes" style="display: none">
        <img src="/_rgt/media/img/3yes.jpg" alt="treatment path 3 w cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="3" data-cirrhosis="no" style="display: none">
        <img src="/_rgt/media/img/3no.jpg" alt="treatment path 3 w/o cirrhosis" />
    </div>
    <div class="genotype-treatment-view" data-path="na" style="display: none">
        Limited data is available. Please see guidelines at <a href="www.hcvguidelines.org">www.hcvguidelines.org</a>
    </div>
</div>